/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2018, 1:11:29 AM
    Author     : pc
*/
footer{
padding: 10px0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
}